server:
  port: 9090
  shutdown: graceful
  error:
    include-message: always

spring:
  application:
    name: weather
  main:
    banner-mode: off
  profiles:
    active: local
  threads:
    virtual:
      enabled: true
  jpa:
    open-in-view: true
    show-sql: false
    properties:
      hibernate.jdbc.batch_size: 500
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.jdbc.batch_versioned_data: true
      hibernate.generate_statistics: false
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate

management:
  endpoints.web.exposure.include: '*'
  endpoint.health.show-details: always
  tracing.sampling.probability: 1

logging:
  level:
    org.apache.camel: INFO
    org.springframework.jdbc.core: DEBUG
